body {
  background-color: rgba(255, 255, 255, 0.99);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, Roboto;
  font-size: small;
  margin: 10px;
  padding: 0px;
}

a {
  color: black;
}

a:visited {
  color: grey;
}


#container{
  width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right:10px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
img {
width: 190px;
height: 280px;
border: 2px solid rgb(33, 124, 33);

}
.f1 {
 /* Placerer billederne ved siden af hinanden*/
float: left;
/* Margin på 10px til højre/bunden af billedet*/
margin-right: 10px;
margin-bottom: 10px;
}
.f2 {
font-style: normal;
width: 190px;
background-color: #FFFFFF;  /* CHANGES FILM TITLE HOVER BACKGROUND COLOR */
height: 25px;
padding: 8px 5px;

bottom: -50px;
text-align: center;
font-size: 8px;  /* CHANGES FILM TITLE HOVER FONT SIZE */
text-transform: uppercase;
letter-spacing:1px;
color: rgb(33, 124, 33); /* CHANGES FILM TITLE HOVER TEXT COLOR */

}
h1 {
  padding: 10px;
  text-align: center;
  color: rgb(20, 75, 20);
}
h2 {
  text-align: center;
  margin: 15px;
}
.year {
  font-style: normal;
}

/*STJERNER*/
.zero, .half, .one, .onehalf, .two, .twohalf, .three, .threehalf, .four, .fourhalf, .five {
height: 20px;
width: 75px;
/*Margin placerer stjerner i midten*/
margin: auto;
}
.thumbnail { 
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
  } 
  
  /*change the number below to scale to the appropriate size*/ 
  .thumbnail:hover { 
  transform: scale(1.2); 
  
  }

.zero {
  background-image: url(http://static.tumblr.com/bkd4m5b/FLYmj96i8/zero.png);
}
.half {background-image: url(http://static.tumblr.com/bkd4m5b/Fgkmj96ix/half.png)}
.one {background-image: url(http://static.tumblr.com/bkd4m5b/BUrmj96j9/one.png)}
.onehalf {background-image: url(http://static.tumblr.com/bkd4m5b/7VTmj96jk/onehalf.png)}
.two {background-image: url(http://static.tumblr.com/bkd4m5b/Z97mj96jw/two.png)}
.twohalf {background-image: url(http://static.tumblr.com/bkd4m5b/VzQmj96k8/twohalf.png)}
.three {background-image: url(http://static.tumblr.com/bkd4m5b/o2Jmj96kj/three.png)}
.threehalf {background-image: url(http://static.tumblr.com/bkd4m5b/4dMmj96ku/threehalf.png)}
.four {background-image: url(http://static.tumblr.com/bkd4m5b/Pr6mj96l6/four.png)}
.fourhalf {background-image: url(http://static.tumblr.com/bkd4m5b/xEJmj96lr/fourhalf.png)}
.five {background-image: url(http://static.tumblr.com/bkd4m5b/UeWmj96m2/five.png)}
